<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    
    <title>Login</title>
</head>

<body>
    <img class="img" src="../img/netflix.png" alt="logo de la pagina , n con letra roja y fondo negro">
    <form class="form" action="principal.html">
        <header class="header_login">
            <h1 class="tituloLogin">Login</h1>
        </header>
        <main class="mainLogin">
            <section class="section-login">
                <label class="label_user" for="email">User / Email:</label>
                <input class="input_user" type="text" name="email">
            </section>
            <section class="section-2-pasword">
                <label class="label_password" for="pass">Password:</label>
                <input class="input_password" type="password" name="pass">
            </section>
            <input type="submit" value="Log in" class="submitLogin">
            <a class="aLogin" href="#">Remember my password</a>
        </main>
    </form>
</body>

</html>